body {
    background-color: #ffffff;
    font-family: rockwell, sans-serif !important;
    font-style: normal;
    /* box-sizing: border-box;
    position: block; */
    display: flex;
    flex-direction: column;
    padding: none;
    margin: none;
}

.navbarNav {
    position: fixed;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    height: auto;
}

.navbar-brand {
    font-size: 35px;
    color: rgb(154, 159, 206) !important;
}

a.nav-link.link-active {
    font-size: 30px;
    font-feature-settings: "cpsp";
    color: #ffffff !important;
    background-image: linear-gradient(rgba(154, 159, 206, 0.787), rgba(179, 183, 214, 0.068));
    top: 50%;
    bottom: 50%;
}

a.nav-link {
    font-size: 30px;
    color: rgb(154, 159, 206) !important;
    top: 50%;
    bottom: 50%;
}

li.nav-item {
    list-style: none;
    /* padding: 10px 20px; */
    color: #000000;
    text-transform: none;
    font-weight: none;
    border: none;
    /* margin-bottom: 10px; */
    background: none;
    font-size: 30px;
    padding: none;
}

li.nav-item:hover {
    list-style: none;
    /* padding: 10px 20px; */
    color: #000000;
    text-transform: none;
    font-weight: none;
    border: none;
    /* margin-bottom: 10px; */
    background: none;
    padding: none;
}


/* img {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    display: block;
} */

h1 {
    /* font-weight: 600; */
    color: #000000;
    text-align: center;
}

h2 {
    /* font-weight: 200; */
    color: #000000;
    text-align: center;
}

h3 {
    /* font-weight: 200; */
    font-size: 15px;
    color: #000000;
    text-align: center;
    margin: 20px;
}

a#pagelink {
    display: block;
    font-size: 40px;
    text-align: center;
    color: #ffffff;
}

a#github-link {
    display: block;
    font-size: 15px;
    color: #ffffff;
    padding-left: 5px;
}

a#linkedin-link {
    display: block;
    font-size: 15px;
    color: #ffffff;
    padding-left: 5px;
    float: right;
}

p {
    font-size: 15px;
    text-align: center;
    color: #ffffff;
    padding: 10px;
    margin-block-end: 0px !important;
}

#github-link-cont {
    padding-top: 5px;
    padding-left: 5px;
    float: left;
}

#linkedin-link-cont {
    padding-top: 5px;
    padding-right: 5px;
    float: right;
}

footer {
    width: 100%;
    /* height: 100%; */
    /* padding: 4px; */
    flex-shrink: 0;
    margin-top: auto;
    /* margin-top: -50px; */
    position: fixed;
    bottom: 0;
    /* float: center; */
    flex: none;
    left: 0;
}

.f-container {
    background-image: linear-gradient(to bottom right, rgba(158, 162, 197, 0.39), rgba(158, 162, 197, 0.637));
}

.copyright {
    font-size: 15px;
    text-align: center;
    color: #ffffff;
    padding-bottom: 10px;
    padding-top: 0px;
    margin-block-end: 0px !important;
}

.intro {
    margin: 30px 0px;
    font-weight: bold;
}

.row {
    flex-shrink: 0;
    width: fill;
}

.helpText {
    background-color: rgba(154, 159, 206, 0.787);
    width: 100%;
    float: center;
    text-align: center;
}


/* h1 {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 800;
} */

p {
    font-weight: 600;
}

#first {
    margin-top: 10px;
    color: #FFCD5D;
}

#second {
    color: #51DF70;
}

#third {
    color: #000000;
    margin-bottom: 30px;
}

#enter {
    width: 100%;
    flex: 0;
    border: none;
    padding: 5px 15px;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    background-color: #025F70;
    transition: all 0.75s ease;
    -webkit-transition: all 0.75s ease;
    -moz-transition: all 0.75s ease;
    -ms-transition: all 0.75s ease;
    -o-transition: all 0.75 ease;
    font-weight: normal;
}

#enter:hover {
    background-color: rgba(154, 159, 206, 0.787);
    color: #FFCD5D;
}

.listItems {
    width: 100%;
}

ul {
    text-align: left;
    margin-top: 20px;
    width: 600px;
    flex: 3;
}

.done {
    width: fill;
    background-color: rgba(154, 159, 206, 0.787);
}

li {
    width: fill;
    list-style: none;
    padding: 10px 10px;
    color: #000000;
    text-transform: capitalize;
    font-weight: 600;
    border: 2px solid rgba(154, 159, 206, 0.787);
    border-radius: 5px;
    margin-bottom: 10px;
    background: #4EB9CD;
    transition: all 0.75s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5 ease;
}

li:hover {
    background: rgba(154, 159, 206, 0.787);
}

li>button {
    font-weight: normal;
    background: none;
    border: none;
    float: right;
    color: #025f70;
    font-weight: 800;
    height: 100%;
}

.item-input-box {
    display: flex;
    min-width: fill;
    height: 100%;
    flex-direction: row;
}

#userInput {
    flex: 0;
    flex-grow: 3;
    width: fill;
    margin: 2px;
    border-radius: 2px;
    min-width: 55%;
}


/* input {
    border-radius: 5px;
    min-width: 55%;
    padding: 5px; 
    border: none;
}
*/

.done {
    background: #51DF70 !important;
    color: #00891E;
}

.delete {
    display: none;
}


/* Dropdown Button */

#dropbtn {
    flex: 1;
    background-color: rgba(154, 159, 206, 0.787);
    color: #000000;
    padding-top: 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}


/* Dropdown button on hover & focus */

#dropbtn:hover,
#dropbtn:focus {
    background-color: rgba(154, 159, 206, 0.787);
}

#dropbtn {
    /* flex: 1; */
    width: 100%;
    height: 100%;
}


/* #browsers {
    flex: 1;
    width: 100%;
} */


/* The container <div> - needed to position the dropdown content */

.dropdown {
    flex-grow: 1;
    flex: 1;
    width: 100%;
    height: 200%;
    /* position: absolute; */
    /* background-color: rgba(154, 159, 206, 0.787); */
    /* width: 100%; */
    padding-top: 5px;
    display: inline-block;
}


/* Dropdown Content (Hidden by Default) */

.dropdown-content {
    /* display:; */
    /* position: absolute; */
    background-color: #f1f1f1;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}


/* Links inside the dropdown */

.dropdown-content a {
    color: black;
    /* padding: 12px 16px; */
    padding: 10px;
    text-decoration: none;
    display: block;
}


/* Change color of dropdown links on hover */

.dropdown-content a:hover {
    background-color: #ddd
}


/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */

.selected {
    display: block;
}